*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    text-align: center;
    margin-top: 30px;
    /* border: 2px solid red; */
}
.main p{
    width: 38%;
    margin: auto;
    margin-top: 10px;
}
.main h2{
    font-weight: 200;
    margin-top: 10px;
    color: hsla(220, 8%, 7%, 0.628);
}
.main h1{
    margin-top: 10px;
}

h1{
    font-family:Poppins ;
}
h2{
    font-family: Poppins;
}
h3{
    font-family: Poppins;
}
p{
    font-family: Poppins;
}
.all{
    position: relative;
    width: 70%;
    height: 500px;
    margin: 5px auto;
    margin-top: 30px;
    
    
}
.card{
    position: absolute;
    border-top: 5px solid hsl(0, 78%, 62%);
    width: 30%;
    height: 200px;
    left: 35%;
    justify-content: center;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}
.card img{
    margin-left: 60%;
    margin-top: 30px;
}

.calculator{
    position: absolute;
    border-top: 5px solid hsl(212, 86%, 64%);
    width: 30%;
    height: 200px;
    top:20%;
    left:68%;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.calculator img{
    margin-left: 60%;
    margin-top: 30px;
}

.mirror{
    position: absolute;
    border-top: 5px solid hsl(180, 62%, 55%) ;
    width: 30%;
    height: 200px;
    top:20%;
    left:2%;
border-top: 5px solid hsl(180, 62%, 55%);
box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.mirror img{
    margin-left: 60%;
    margin-top: 30px;
}
.karma{
    position: absolute;
    border-top: 5px solid hsl(34, 97%, 64%);
    width: 30%;
    height: 200px;
    top:50%;
    left:35%;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.karma img{
    margin-left: 60%;
    margin-top: 30px;
}
@media screen and (max-width:768px) {
    .karma{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .card{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .calculator{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .mirror{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .main p{
        font-size: 19px;
        width: 83%;
    }
    .main{
        margin-top: 20px;
    }
}